<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{titulo}}</title>
</head>
<body>
    <form action="/tabuada" method="POST">
        <label for="number1">Número 01:</label>
        <input type="number" name="num1" class="form-control" id="number1" placeholder="Informe um número"/>

        <label for="number2">Número 02:</label>
        <input type="number" name="num2" class="form-control" id="number2" placeholder="Informe um número"/>


        <button type="submit" class="botao">Tabuada</button>

        <label id='result'>{{resultado}}</label>
    </form>

    <a href="/"><button type="submit" class="botao">Voltar Para Página Inicial</button></a>


</body>
</html>